.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .row {
        display: flex;

        .cell {
            width: 25px;
            height: 25px;
            border: 1px solid #000000;

            &.trippleWordScore {
                background: red;
            }

            &.doubleWordScore {
                background: pink;
            }

            &.trippleLetterScore {
                background: blue;
            }

            &.doubleLetterScore {
                background: skyblue;
            }

            &.center {
                background: pink;
            }

            
        }
    }
}

