.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .row {
        display: flex;

        .cell {
            width: 25px;
            height: 25px;
            border: 1px solid #000000;

            &.trippleWordScore {
                background: red;
            }

            &.doubleWordScore {
                background: pink;
            }

            &.trippleLetterScore {
                background: blue;
            }

            &.doubleLetterScore {
                background: skyblue;
            }

            &.center {
                background: pink;
            }
        }
    }
}

.player {
    display: flex;

    .tile {
        width: 60px;
        height: 60px;
        margin: 1em;
        background: beige;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .tile__letter {
            font-size: 2em;
        }
        .tile__points {
            position: absolute;
            bottom: 4px;
            right: 4px;
        }
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    display: none;

    &.open {
        display: flex;
    }
}